.login{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:auto;
    background-image: url("../images/login_background.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.login .auth-form{
    height: 70%;
    width: 60%;    
    display: flex;
}

.login .left{
    background-color: #DCDCDC;
    border-radius: 5% 0 0 5%;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login .left .title{
    color: #580BE4;
    font-size: 25px;
    font-weight: bold;
}

.login .left .image-wrapper{
    height: 65%;
    width: 85%;
}

.login .left .image-wrapper .image{
    height: 100%;
    width: 100%;
}

.login .right{
    background-color: white;
    border-radius: 0 5% 5% 0;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login .right .form{
    width: 100%; 
}

.login .right .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login .right input[type="text"]:focus,
.login .right input[type="password"]:focus {
  border-radius: 5px;
  outline: none;
  border: 2px solid #4a238094;
}
.login .right input[type="text"],
.login .right input[type="password"] {
height: 30px;
border: 1px solid #5c5c5c67;
padding-left: 10px;
width: auto;
margin: 0 10%;
}
.login .right input[type="submit"] {
margin: 5% 0;
cursor: pointer;
font-size: 15px;
color: white;
border: none;
background-color: #1a95db;
border-radius: 8%;
padding:10px 20px;
}

.login .right input[type="submit"]:hover {
background: #8ccded;
}

.login .right .button-container {
display: flex;
justify-content: center;
}

.login .right .error {
color: red;
font-size: 12px;
margin: 5% 10%;
}

.login .right .hint{
    margin: 0 20%;
    font-size: 12px;
    color: #918e8c;
    text-align: center;
}
.login .custom-input{
    border-radius: 5px;
    /* margin: 0 10%;
    width: auto !important; */
}
.login .custom-input:focus-visible{
    border-radius: 5px;
    background-color: rgba(179, 178, 178, 0.199);
    border-color: transparent;
    border-radius: 3px;
}
