.change-password .psw{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 2%;
}

.change-password .row{
    margin-top: 4%;
}

.change-password .add-btn{
    margin-left: 0;
}

.change-password .error-msg{
    color: red;
    font-size: 14px;
    margin-top: 2%;
} 

.change-password .dsbld{
    background-color: grey;
}

.change-password .dsbld:hover{
    cursor: default;
}

.change-password .bi-exclamation-triangle{
    color: red;
}