.client-profile .footer{
    width: 100%;
    display: flex;
    justify-content: end;
}

.client-profile .block{
    border: none;
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #F6522E;
    padding: 12px 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.client-profile .deactivate{
    background:#FC9A40;
}

.client-profile .mybtn {
    border: none;
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #64C7FF;
    padding: 12px 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .client-profile .mybtn span {
    position: relative; 
    z-index: 1;
  }
  
  .client-profile .mybtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #AFCFEA;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-99%) translateY(-20%) rotate(45deg);
    transform: translateX(-99%) translateY(-20%) rotate(45deg);
  }
  
  .client-profile .mybtn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .client-profile .submit-edit{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 5px 2%;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1771F1;
    cursor: pointer;
}

.client-profile input[type="text"]{
    border:1px solid #D5D5D5;
    border-radius: 5px;
    padding:2px 10px;
    width: 90%;
}

.client-profile .error{
  font-size: 12px;
  color: red;
}

.client-profile .footer{
  display: flex;
  flex-direction: column;
}

.client-profile .buttons{
  display: flex;
  justify-content: right;
  column-gap: 10px;
}