.create-project{
    float: right;
    width: calc(100% - 160px);    
}

.create-project .emp-profile{
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff; 
    height: 90%;   
}

.create-project input[type='text']{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
    width: 100%;
}

.create-project button{
    border: 0;
}

.create-project .photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.create-project .remove-employee{
    padding: 2px;
    cursor: pointer;
}

.create-project .error{
    font-size: 12px;
    color: red;
}