.create-task{
    float: right;
    width: calc(100% - 160px);
}

.create-task .emp-profile{
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff; 
    height: 90%;   
}

.create-task .photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.create-task .col-md-3{
    font-weight: bold;
}

.create-task .row{
    margin: 12px 0;
}

.create-task .textarea{
    resize:both;
    max-width:800px;
    max-height:600px;
    min-width:200px; 
    min-height:100px;
    outline: none;
}

.create-task .pretty-select{
    cursor: pointer;
    padding-left: 5%;
}

.create-task .pretty-select-non-edit{
    padding-left: 5%;
}

.create-task .pretty-select:hover{
    background-color: rgba(129, 129, 129, 0.205);
    cursor: pointer;
}

.create-task .name{
    font-size: 22px;
    width: 100%;
}

.create-task .mybtn{
    margin-left: 40%;
}

.create-task input[type="text"]{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
}

.create-task button{
    border: 0;
}

.create-task .error{
    font-size: 12px;
    color: red;
}