.dashboard{
    margin-top: 20px;
}

.dash-container{
    display: flex;
    justify-content: space-between;
}

.projects .filter-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .filter-only-mine{
    display: flex;
    align-items: center;
    justify-content: center;
}