
.profile{    
    float: right;
    width: calc(100% - 160px);
    height: 100vh;
}

.profile input[type="text"], textarea, input[type="number"]{
    border:1px solid #D5D5D5;
    border-radius: 5px;
    padding:2px 10px;
    width: 100%;
}

#editPhoto:hover{
    background-color: #17F1D7;
}

.tab-panel .row label, 
.tab-panel .row input[type="text"], 
.tab-panel .row p, 
.tab-panel .row textarea{
    margin-top: 5%;
}

.tickets p{
    font-size: 13px;
    color: #818182;
    font-weight: 600;
}



.profile .emp-profile{
    height: 90%;
}

.emp-profile{
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;    
}


.profile-img{
    text-align: center;
}
.profile-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 5px 2%;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1771F1;
    cursor: pointer;
}
.profile-rating{
    font-size: 13px;
    color: #818182;
}
.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 13px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.mybtn {
  border: none;
  border-radius: 0.3rem;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  background-color: #64C7FF;
  padding: 12px 35px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.mybtn span {
  position: relative; 
  z-index: 1;
}

.mybtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #AFCFEA;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-99%) translateY(-20%) rotate(45deg);
  transform: translateX(-99%) translateY(-20%) rotate(45deg);
}

.mybtn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.block-btn{
    border: none;
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    background: #F6522E;
}


