.single-project {
    float: right;
    width: calc(100% - 160px);    
}

.single-project .photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.single-project .pretty-link{
    padding: 8px 0 8px 0;
    border-bottom: 1px solid rgb(206, 204, 204);
}
.single-project .pretty-link a{
   text-decoration: none;
   color: black;
}
.single-project .pretty-link a:hover{
    color: black;
}

.single-project .pretty-link:hover{
    border: 1px solid rgb(206, 204, 204);
    background-color: rgb(235, 233, 233);
}

.single-project .col-md-4{
    font-weight: bold;
}

.single-project .textarea{
    resize:both;
    max-width:700px;
    max-height:600px;
    min-width:200px; 
    min-height:100px;
    outline: none;
}

.single-project .name{
    font-weight: bold;
    font-size: 25px;
}

.single-project .employees{
    border: none;
    padding: 5px;
}

.single-project .employees:focus{
    border: 0;
}

.single-project .pretty-select:hover{
    background-color: rgba(129, 129, 129, 0.205);
    cursor: pointer;
}

.single-project input[type="text"]{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
}