.pretty-link{
    padding: 8px 0 8px 0;
    border-bottom: 1px solid rgb(206, 204, 204);
}
.pretty-link a{
   text-decoration: none;
   color: black;
}
.pretty-link a:hover{
    color: black;
 }
.pretty-link:hover{
    border: 1px solid rgb(206, 204, 204);
    background-color: rgb(235, 233, 233);
}

.col-md-4{
    font-weight: bold;
}

.textarea{
    resize:both;
    max-width:700px;
    max-height:600px;
    min-width:200px; 
    min-height:100px;
    outline: none;
}