.search .searchInputs {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.search .searchInput {
    border:1px solid #D5D5D5;
    border-radius: 5px;
    padding:2px 10px;
    height: 40px;
    width: 100%;
}

.search .searchInput:focus {
    outline: none;
}

.search .dataResult {
    margin-top: 5px;
    width: 27%;
    max-height: 200px;
    padding: 4px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:1px solid #D5D5D5;
    border-radius: 5px;
    position: absolute;   
    overflow-y: scroll;
}

.search .dataResult::-webkit-scrollbar {
    display: none;
}

.search .dataResult .dataItem {
    width: 100%;
    height: 45px;
    align-items: center;
    color: black;
    cursor: pointer;
}

.search a {
    text-decoration: none;
}

.search a:hover {
    background-color: #D5D5D5;
}

.search .searchIcon {
    cursor: pointer;
}

.search .name{
    word-wrap: break-word;
}