.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #DCE5E7;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav .action {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}

.sidenav .action:hover {
    cursor: pointer;
    background-color: #F1F6FB;
    color: #8C8C8C;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a i{
    margin-right: 10px;
}

.sidenav #new-ticket{
    font-weight: bold;
}