.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #F2F8FD;
    border-right: 1px solid white;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}

.sidenav a:hover {
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #b1adad;
    border-top: 1px solid #b1adad;
    color: black;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a i{
    margin-right: 10px;
}