.single-task{    
    float: right;
    width: calc(100% - 160px);
}

.single-task .photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.single-task .col-md-3{
    font-weight: bold;
}

.single-task .row{
    margin: 12px 0;
}

.single-task .textarea{
    resize:both;
    max-width:800px;
    max-height:600px;
    min-width:200px; 
    min-height:100px;
    outline: none;
}

.single-task .pretty-select{
    cursor: pointer;
    padding-left: 5%;
}

.single-task .pretty-select-non-edit{
    padding-left: 5%;
}

.single-task .pretty-select:hover{
    background-color: rgba(129, 129, 129, 0.205);
    cursor: pointer;
}

.single-task .name{
    font-size: 22px;
    width: 100%;
}

.single-task .mybtn{
    margin-left: 40%;
}

.single-task input[type="text"]{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
}