.photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.col-md-3{
    font-weight: bold;
}

.row{
    margin: 12px 0;
}

.profile{    
    float: right;
    width: calc(100% - 160px);
}

.textarea{
    resize:both;
    max-width:800px;
    max-height:600px;
    min-width:200px; 
    min-height:100px;
    outline: none;
}

.arrow-back:hover{
    cursor: pointer;
}
.pretty-select{
    cursor: pointer;
    padding-left: 5%;
}
.pretty-select-non-edit{
    padding-left: 5%;
}
.pretty-select:hover{
    background-color: rgba(129, 129, 129, 0.205);
}