.single-task{    
    float: right;
    width: calc(100% - 160px);
}

.single-task .emp-profile{
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff; 
    height: 90%;   
}

.single-task .photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px 0;
}

.single-task .col-md-3{
    font-weight: bold;
}

.single-task .row{
    margin: 10px 0;
}

.single-task .textarea{
    resize:both;
    width: 99%;
    outline: none;
    margin-left: 2%;
    margin-top: 1%;
}

.single-task .pretty-select{
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(165, 165, 165);
}

.single-task .pretty-select-non-edit{
    padding-left: 5%;
}

.single-task .pretty-select:hover{
    background-color: rgba(129, 129, 129, 0.205);
    padding-right: 4%;
    padding-bottom: 3%;
    padding-top: 2%;
    border-radius: 20px;
    border-bottom:none;
    cursor: pointer;
}

.single-task .name{
    font-size: 22px;
    width: 100%;
}

.single-task .mybtn{
    margin-left: .5%;
    font-size: 16px; 
    color:#64C7FF;
    background-color: transparent;
    border: 1px solid #64C7FF;
    padding: 4px 14px; 
    font-weight: 500;
    text-transform: none;
    display: inline-block;
}

.single-task .mybtn:first-child{
    margin-left: 0%;
}


.single-task .mybtn:hover{
    transition: none;
    background-color: #64C7FF;
    color:white;
}
.single-task .mybtn::after{
    background: transparent;
    -webkit-transition:none;
    transition: none;
    -webkit-transform: none;
    transform: none;
}
.single-task input[type="text"]{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
}

.single-task .error{
    font-size: 12px;
    color: red;
}

.single-task .file-input{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.single-task .file-input button{
    border: 0;
}

.comments-title{
    margin-top: 3%;
    text-align: left;
}
.comments{
    padding: 1%;
}
.comment{
    border-top: 1px solid rgb(206, 204, 204);
    width: 100%;
    margin-bottom: 1%;
    border-top: 1px solid rgba(206, 204, 204, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-left: 5px solid #1a94db00;
}
.comment:hover{
    border-top: 1px solid rgb(206, 204, 204);
    border-bottom: 1px solid rgb(206, 204, 204);
    border-left: 5px solid #1a95db;
    transition: all 0.2s ease-in-out;
    background-color: rgba(153, 152, 152, 0.1);
}
.comment:hover .comment-icon{
    visibility: visible;
    cursor: pointer
}
.comment-image-container{
    margin-left: .7%;
}
.comment-image-container .photo{
    display: flex;
    width: 25px ;
    height: 25px;
}
.comment-container {
    display: flex;
    width: 100%;
}
.comment-content{
    display: flex;
    width: 100%;
    margin-top: .7%;
    margin-left: .3%;
}
.comment-date{
    margin-left: 0;
}
.comment-text{
    margin-left: 3%;
    margin-top: .5%;
    width: 96%;
    margin-bottom: 1%;
    word-wrap: break-word;
}
.comment a{
    text-decoration:none;
}
.comment-actions{
    display: flex;
    width: 5%; 
}
.comment-icon{
    visibility: hidden;
    color:rgba(0, 0, 0, 0.59);
    font-size: 18px;
}
.comment-icon:last-child{
    margin-left: 10%;
}
.btn-comment{
    float:right;
}
.btn-comment-form{
    float:right;
}
.btn-cancel-form{
    float:right;
    margin-right: 1%;
}
.comment-form-textarea{
    width: 100%;
    min-height: 100px;
}
.comment-icon:hover{
    color:rgb(0, 0, 0);
}
.comment-form{
    display: block;
}
.comment-btn-group{
    display: flow-root;
    margin-bottom: 1%;
}
.comment-form-edit{
    width: 98%;
    margin-top: .5%;
    margin-left: 1%;
}
.comment-text-non-full-view{
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    margin-left: 1%;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.comment-content-non-full-view{
    display: flex;
    margin-top: 1.2%;
    margin-left: .3%;
    margin-bottom: 1.2%;
}
.comment-image-container-non-full-view{
    margin-top: .7%;
    margin-left: .7%;
}
.comment-image-container-non-full-view .photo{
    display: flex;
    width: 25px ;
    height: 25px;
}
.comment-arrow-icon{
    margin-left: 1%;
    display: flex;
    margin-top: 1%;
    color: rgb(94, 87, 87);
}
.comment-arrow-right-icon{
    color: rgb(94, 87, 87);
    display: flex;
    margin-top: 1.5%;
    margin-left: 1%;
}
.group-name{
    display: inline-block;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 2%;
}
.property-list{
    list-style: none;
    margin-top: 1%;
}
.single-task .item{
    margin-top: 1%;
    clear: left;
    float: left;
    width: 50%;
}
.single-task .item-right{
    clear: right;
    float: right;
    width: 50%;
}
.single-task .item .name{
    font-size: 17px;
    font-weight: 400;
}
.single-task .item .value{
    font-size: 17px;
    font-weight: 600;
    margin-left: 20%;
}
.single-task .green{
    color: rgb(2, 180, 2);
}
.single-task .red{
    color: red;
}
.status-value{
    padding: 0 2%;
    border-radius: 5px;
    color: #ffffff;
}
.single-task .item-people{
    width: 100%;
}
.item-people .photo{
    width: 25px;
    height: 25px;
}
.single-task .status-form {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
}
.single-task .priority-form {
    width: 38%;
    display: inline-block;
    margin-left: 18%;
}
.single-task .git-form {
    width: 50%;
    display: inline-block;
    margin-left: 8%;
}
.single-task .date-form {
    width: 50%;
    display: inline-block;
    margin-left: 16%;
}
.single-task .log-form {
    width: 20%;
    display: inline-block;
    margin-left: 15%;
    text-align: center;
}