.add-btn{
    border: none;
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    margin-left: 40%;
    background: #580BE4;
}