.users{
    float: right;
    width: calc(100% - 160px);    
}

.users .photo-list{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 20px -1px rgba(34, 60, 80, 0.94);
}
.users .photo-row{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 0;
}

.users .add-btn, 
.add-employee-modal .add-btn{
    border: none;
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    margin-left: 40%;
    background: #7AB1FF;
}

.users .users-list{
    background-color: white;
}
.users .star{
    font-size: 19px;
    margin: 0 25px;
    color: #fe4d4dc1;
}
.users .circle{
    font-size: 19px;
    margin: 0 25px;
    color: #5199FF;
}
.users .arrow{
    font-size: 19px;
    margin: 0 25px;
    color: #01374fc1;
}
.users .margin-arrow{
    font-size: 19px;
    margin-bottom: 25%;
    margin-left: 40%;
    color: #01374fc1;
    float: right;
}
.users .suitcase{
    font-size: 17px;
    margin-right: 1%;
    color: #000000c1;
}
.users .user-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.users .user-wrapper-list-grid{
    flex-direction: column;
}

.users .name{
    font-weight: bold;
    margin-top: 10px;
}

.users .name-list{
    display: inline-block;
    font-size: 24px;
    margin-top: 1.5%;
    margin-left: 3%;
}

.users .name-list-not-full{
    font-size: 19px;
}
.users .position-list-not-full{
    font-size: 16px;
}
.users sup {
    vertical-align: super;
    font-size: 12px;
    top: 0;
    left: 0.25em;
}

.users .position, .users .email{
    margin-top: 5px;
}
.users .email-list{
    font-size: 14px;
    margin-left: 3%;
}
.users .item-margin-left-3{
    margin-left: 3%;
}
.users .item-margin-left-10{
    margin-left: 5.5%;
}
.users hr{
    margin: .6rem 0;
    margin-left: 12%;
    width: 85%;
}
.users .btn-custom-2{
    width: 100%;
}

.users .btn-custom-2-grid{
    float: none;
    margin: 0;
    margin-top: 10px;
}
.users-list:hover{
    padding: 1.3%;
    transition: .3s padding;
}

.add-employee-modal input[type='text'], 
.add-employee-modal input[type='email']{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
}

.add-employee-modal .row{
    margin: 12px 0;
}

.add-employee-modal .error{
    font-size: 12px;
    color: red;
}
.users .btn-group{
    display: block;
}